body {
  background-image: url(images/background.jpg);
}

.sidenav {
  width: 30%;
  float: right;
  height: 500px;
  background-color: lightyellow;
  border-style: double;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.logo {
  height: 50px;
  margin: 15px;  
}

img.headshots {
  float: left;
  height: 500px;
  border-style: double;
  margin-bottom: 12px;
  box-sizing: border-box;
}

li {
  list-style-type:  none;
  color: black;
  font-size: 15pt;
}

.tours {
  column-count: 1;
  float: left;
  line-height: 1.5;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: underline;
}

.link-box {
  float: left;
  padding: 15px;
  line-height:1.5;
  font-family: monospace;
}

a {
  color: black;
}

.gif {
  height: 50px;
  width: 50px;
  float: right;
}

.gif1 {
  float: left;
  height: 50px;
  width: 50px;
}