body {
  background-image: url(images/background.jpg);
}

img.logo {
  float: right;
  height: 75px;
  padding: 20px;
}

img.headshots {
  float: left;
  height: 500px;
  margin: 10px;
  padding: 30px;
}

li {
  list-style-type:  none;
  color: black;
  font-size: 15pt;
}

.footer {
  float: right;
  padding: 15px;
  line-height: 1.5;
  font-family: monospace;
}

.links {
  float: left;
  padding: 15px;
  line-height:1.5;
  font-family: monospace;
}

a {
  color: black;
}